/* All this CSS is doing is making a container as big as your browser, and centering content in it both horizontally and vertically */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
}
header{
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  place-content: center center;
  flex-direction: column;
}

/* Big center aligned text */
#logoBox {
  position: fixed;
  left: 400px;
  top: -125px;
  text-align: center;
  /* font-size: 48px; */
  
}

#slogan{
  position: relative;
  text-align: center;
  top: 75px;
  font-size: 60px;
  font-family: 'GlacialIndifferenceRegular';
  margin-top: 0px;
}


  

